<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-6 sessions-login-center">
    <h1>ログイン</h1>
    <%= bootstrap_form_tag(url: login_path, local: true) do |f| %>
      <%= f.email_field :email, label: 'メールアドレス' %>
      <%= f.password_field :password, label: 'パスワード' %>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <div class="accountRegistrationLead">
      <p>はじめての方はこちら</p>
      <%= link_to "新規登録する", signup_path, class: "btn btn-light" %>
    </div>
    <div class="login-help">
      Forgot your password? <a href="#">Click here to reset it</a>
    </div>
  </div>
  <div class="col-md-3">
    
  </div>
</div>
