<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-6 users-edit-center">
    <h1>設定</h1>
    <%= bootstrap_form_with(model: @user, local: true) do |f| %>
      <%= f.text_field :name, label: '名前' %>
      <%= f.email_field :email, label: 'メールアドレス ' %>
      <%= f.password_field :password, label: 'パスワード' %>
      <%= f.password_field :password_confirmation, label: 'もう一度パスワードを入力してください。' %>
      <%= f.submit "更新する", class: "btn btn-primary" %>
    <% end %>
    <div class="users-edit-gravatar">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">プロフィール画像を変更する</a>
    </div>
  </div>
  <div class="col-md-3">
    
  </div>
</div>