<div class="row">
  <div class="col-md-6 offset-md-3 signup-form">
    <h1>新規登録</h1>
    <%= bootstrap_form_with(model: @user, local: true) do |f| %>
      <%= f.text_field :name %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>