<div class="row">
  <div class="col-md-6 offset-md-3 signup-wrapper">
    <h1>オリジナル略字投稿サイト</h1>
    <h1>会員登録ページ</h1>
    <%= bootstrap_form_with(model: @user, local: true) do |f| %>
      <%= f.text_field :name, label: '名前' %>
      <%= f.email_field :email, label: 'メールアドレス ' %>
      <%= f.password_field :password, label: 'パスワード' %>
      <%= f.password_field :password_confirmation, label: 'もう一度パスワードを入力してください。' %>
      <%= f.submit "会員登録する", class: "btn btn-primary" %>
    <% end %>  
  </div>
</div>