<div class="wrapper">
  <h1><%= "#{@user.name}さん" %></h1>
  <div class="index-content">
      <% if @user.posts.any? %>
        <% @user.posts.each do |post| %>
          <div class="index-item">
            <%= link_to(image_tag(post.image_url, size: '350x350'), post, class: 'index-ryakuji') %>
            <%= simple_format(post.origin, class: 'index-origin') %>
            <%= simple_format("#{post.stroke_count}画", class: 'index-stroke-count') %>
            <%= link_to("コメント件数(#{post.comments.count})", post,  class: 'index-comment-count') %> 
            <% if post.comments.any? %>
              <% post.comments.each do |comment| %>
                <%= simple_format(comment.user.name, class: 'comment-user-name') %>
                <%= simple_format(comment.body, class: 'comment-body') %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<div style="text-align:center;">
  <%= link_to "→設定ページへ行く", edit_user_path(@user) %>
</div>