<li class="index-item">
  <%= link_to(image_tag(post.image_url, size: '350x350'), post, class: 'index-ryakuji') %>
  <%= simple_format(post.origin, class: 'index-origin') %>
  <%= simple_format("#{post.stroke_count}画", class: 'index-stroke-count') %>
  <%= link_to("#{post.user.name} 作", post.user) %>
  <%= link_to("コメント件数(#{post.comments.count})", post, class: 'index-comment-count') %> 
</li>
