<div class="wrapper">
  <div class="search">
    <%= search_form_for @q, url: posts_path do |f| %>
      <%= f.search_field(:origin_cont,  placeholder: '元の漢字で検索する', class: 'form-control mr-sm-2') %>
      <%= f.select(:sorts, {'新着順': 'id desc', '画数が少ない順': 'stroke_count asc', 'コメントが多い順': 'comments_count desc', 'コメントが少ない順': 'comments_count asc'}, selected: params[:q][:sorts]) %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <%= will_paginate %>
    <div class="index-content">
      <%= render @posts %>
    </div>
  <%= will_paginate %>
</div>

