<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-6">
    <div class="ryakuji-area">
      <%= image_tag(@post.image_url, size: '450x450', class: 'ryakuji') %>
      <% if current_user == @post.user %>
        <%= link_to "編集", edit_post_path(@post), class: 'edit-btn btn btn-success' %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "消去して構わないですか？" }, class: 'destroy-btn btn btn-warning' %>
      <% end %>
    </div>
    <div class="comment-area">
      <% @post.comments.each do |comment| %>
        <h3><%= comment.user.name %>さん</h3>
        <pre><%= comment.body %></pre>
        <% if comment.user == current_user %>
          <p><%= link_to "コメントを削除する", [@post, comment], method: :delete, confirm: { data: '本当に削除していいですか？' } %></p>
        <% end %>
      <% end %>
      <%= bootstrap_form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :body, label: 'コメント：', rows: 4 %>
        <%= f.submit 'コメントする', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    
  </div>
</div>