<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-6">
    <div class="ryakuji-area">
      <%= image_tag(@post.image_url, size: '450x450', class: 'ryakuji') %>
      <%= @post.user.name %>
      <%= @post.origin %>
      <%= @post.stroke_count %>
      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post), class: 'edit-btn btn btn-success' %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除していいですか？" }, class: 'destroy-btn btn btn-warning' %>
      <% end %>
    </div>
    <div class="comment-area">
      <%= render @post.comments %>
      <%= bootstrap_form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :body, label: 'コメント：', rows: 4 %>
        <%= f.submit 'コメントする', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    
  </div>
</div>