<div class="wrapper">
  <div class="content">
    <div class="ryakuji-area">
      <div class="item">
        <%= link_to(image_tag(@post.image_url, size: '450x450'), @post, class: 'ryakuji') %>
        <%= simple_format(@post.origin, class: 'origin') %>
        <%= simple_format("#{@post.stroke_count}画", class: 'stroke-count') %>
        <%= link_to("#{@post.user.name} 作", @post.user) %>
        <%= simple_format("コメント件数(#{@post.comments.count})", class: 'comment-count') %> 
      </div>
      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post), class: 'edit-btn btn btn-success' %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除していいですか？" }, class: 'destroy-btn btn btn-warning' %>
      <% end %>
    </div>
    <div class="comment-area">
      <%= render @post.comments %>
      <%= bootstrap_form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :body, label: 'コメント：', rows: 4 %>
        <%= f.submit 'コメントする', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

